/* ======= import google font - poppins ========= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
	--white: #fff;
	--black: #000;
	/* --primary_color: rgb(255, 0, 50); */
	--primary_color: #0d6efd;
	--primary_shade: #a1c7ff;
	--gradient: linear-gradient(135deg, var(--primary_color), var(--primary_color));
	/* --bg_dark: rgb(255, 255, 255); */
	--bg_dark: rgb(36, 36, 36);
}

::-webkit-scrollbar {
	display: none;
}
.t-center {
	text-align: justify;
	text-align-last: center;
}
a {
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
}
.gotoTopBtn {
	bottom: 1rem;
	right: 1rem;
	z-index: 999;
}

#home {
	height: 100vh;
	background: url(https://picsum.photos/id/20/3670/2462.webp) no-repeat top fixed;
	background-size: cover;
}

#about img {
	width: calc(200px + 5vw);
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top;
}

/* SKILL SECTION DESIGN  */

.skill_bar {
	--skill: "";
	position: relative;
	height: 0.4rem;
	border-radius: 3px;
	background-color: var(--primary_shade);
	background-image: var(--gradient);
	background-size: var(--skill) 100%;
	background-repeat: no-repeat;
}

section .section-title::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	background: var(--primary_color);
	width: 4rem;
	height: 2.5px;
}

/* .footer-links > * {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 50%;
}
 */
.carousel-item img {
	max-height: 95vh;
}

.services-card {
	background: rgb(208, 232, 255);
}
.nav-link.active{
	color: red !important;
}